/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 217 97% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 207 81% 51%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217 30% 96%;
    --muted-foreground: 217 18% 35%;

    --accent: 217 97% 53%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 72% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 20% 90%;
    --input: 217 20% 90%;
    --ring: 217 97% 53%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 217 15% 25%;

    --sidebar-primary: 217 97% 53%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 217 30% 96%;

    --sidebar-accent-foreground: 217 97% 40%;

    --sidebar-border: 217 20% 90%;

    --sidebar-ring: 217 97% 53%;
  }

  .dark {
    --background: 160 20% 6%;
    --foreground: 0 0% 100%;

    --card: 160 14% 10%;
    --card-foreground: 0 0% 100%;

    --popover: 160 14% 10%;
    --popover-foreground: 0 0% 100%;

    --primary: 217 97% 60%;
    --primary-foreground: 0 0% 0%;

    --secondary: 207 81% 58%;
    --secondary-foreground: 0 0% 0%;

    --muted: 217 15% 18%;
    --muted-foreground: 217 15% 70%;

    --accent: 217 97% 60%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 12% 22%;
    --input: 217 12% 22%;
    --ring: 217 97% 60%;
    --sidebar-background: 217 14% 8%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 217 97% 60%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 217 15% 16%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 217 12% 20%;
    --sidebar-ring: 217 97% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.bairro-label {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #000;
  font-weight: bold;
  font-size: 10px;
  text-shadow:
    1px 1px 2px #fff,
    -1px -1px 2px #fff,
    1px -1px 2px #fff,
    -1px 1px 2px #fff;
}
